section#main-content{
  background-color: #fefefe;

  .left-bar{
    background-color: $color11;

  }

  .center-content{
    background-color: $color2;
  }

  .right-content{
    background-color: $color4;
    padding : 0px;
    div{
      height: 180px;
      border-top: 1px solid #222;
      border-bottom: 1px solid #222;
    }

  }

  .left-bar,
  .right-content,
  .center-content{
    min-height: 540px;
  }



  ///////////////////////////
  .single-left-wrapper{
    border : 1px solid #ddd;
    margin: 0px;
    padding: 0px;
    text-align: left;

    ul, li, a{
      padding : 0px;
      margin: 0px;
    }

    li{
      list-style: none;
    }

    li a{
      display: block;
      border: 1px solid #000;
      padding : 8px 8px 8px 15px;

      background-color: #fefefe;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      transition: background 0.5s ease;

      &:hover{
        background-color: #ddd;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        transition: background 0.5s ease;
      }
      &:hover i{
        padding-right : 20px;

        -webkit-transition: padding 0.5s ease;
        -moz-transition: padding 0.5s ease;
        transition: padding 0.5s ease;
      }

      i{
        padding-right : 0px;
        -webkit-transition: padding 0.5s ease;
        -moz-transition: padding 0.5s ease;
        transition: padding 0.5s ease;
      }
    }

  }

  .single-main-wrapper{
    background-color: #999;
    margin: 0px;
    padding: 0px;
  }

  .single-left{
    padding-right: 0px;
  }

  .single-main{


  }


}//END Section main-content
