section#main-content{
  background-color: #fefefe;

  .left-bar{
    background-color: $color11;

  }

  .center-content{
    background-color: $color2;
  }

  .right-content{
    background-color: $color4;
    padding : 0px;
    div{
      height: 180px;
      border-top: 1px solid #222;
      border-bottom: 1px solid #222;
    }

  }

  .left-bar,
  .right-content,
  .center-content{
    min-height: 540px;
  }



  ///////////////////////////
  .single-left-wrapper{

    margin: 0px;
    padding: 0px;
    text-align: left;

    ul, li, a{
      padding : 0px;
      margin: 0px;
    }

    li{
      list-style: none;
    }

    li a{
      @include FontSize1_6rem;
      position: relative;
      display: block;
      border-bottom : 1px solid #eee  ;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      padding : 8px 8px 8px 15px;

      &:first-child{
        border-top : 1px solid #eee  ;
      }

      background-color: #fefefe;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      transition: background 0.5s ease;

      &:hover{
        background-color: #efefef;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        transition: background 0.5s ease;
      }
      &:hover .link-icon{
        padding-right : 30px;

        -webkit-transition: padding 0.5s ease;
        -moz-transition: padding 0.5s ease;
        transition: padding 0.5s ease;
      }

      .link-icon{
        padding-right : 10px;
        -webkit-transition: padding 0.5s ease;
        -moz-transition: padding 0.5s ease;
        transition: padding 0.5s ease;
      }

      .chevron-right{
        position: absolute;
        right : 10px;
        top: 15px;
      }


    }

  }

  .single-main-wrapper{
    background-color: #efefef;
    margin: 0px;
    padding: 0px;
  }

  .single-left{
    padding-right: 0px;
  }

  .single-main{


  }


}//END Section main-content
